*{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



body{
    max-width: 100%;
    max-height: 100%;
    background-color: #443C68;
    cursor: url(icons8-spaceman-64.png), auto;
    scroll-behavior: smooth;
    background-image: url("https://static.nationalgeographic.co.uk/files/styles/image_3200/public/webbdeepfield.jpg?w=1600&h=900");
    background-size: cover;
    background-position: center center;


}

.Home{
    text-align: center;
    justify-content: center;
    cursor: url(icons8-spaceman-64.png), auto;

}

a{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    width: 400px;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}

#space {
    max-width: 100%;
    max-height: 100%;
    width: 800px;
}




button{
    display: flex;
    position: relative;
    background-color: #393053;
    border: none;
    color: white;
    padding: 10px 32px;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25px;
    cursor: url(icons8-spaceman-64.png), auto;
    border-radius: 50px;
    font-weight: bolder

}

button:hover{
    /* border-radius: 100%; */
    background-color: #18122B;
    box-shadow: 0 0 2px purple,
    0 4 4px darkmagenta,
    0 6 12px white;

}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;

}

ul{
    color: white;
}

li{
    color: white;
}



p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;

}